{% extends 'base/_base.html' %}
{% block title %} Bunker online {% endblock %}

{% block content %}
        <div class="row justify-content-center">
            <div class="col-4 text-center">
                <h1>Ігрове лобі</h1>
                <small>Статус: {{ game.status }}</small>

                <p>Гравців {{ game.players.all|length }}/{{ game.max_players }}
                    {% if client.player_id == game.owner_id %}
                        <a href="{% url 'Game:lobby_minus' game.game_id %}" class="btn btn-outline-warning">-</a>
                        <a href="{% url 'Game:lobby_plus' game.game_id %}" class="btn btn-outline-warning">+</a>
                    {% endif %}
                </p>
                <ol>
                    {% for player in game.players.all %}
                    <li>{{ player.nickname }}
                        {% if game.owner_id == client.player_id and player.player_id != client.player_id %}
                        <a href="{% url 'Game:kick_lobby' game.game_id player.player_id %}" >[X]</a>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ol>
                {% if client.player_id == game.owner_id %}
                <form method="POST" class="mb-3">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-success">Почати гру!</button>
                </form>
                <a href="{% url 'Game:close_lobby' game.game_id %}" class="btn btn-warning mb-3">
                    {% if game.status == "open" %}
                    Закрити лобі
                    {% elif game.status == "closed" %}
                        Відкрити лобі
                    {% endif %}
                </a><br>
                {% endif %}
                {% if game.owner_id|safe == request.session.player_id %}
                <a href="{% url 'Game:delete_lobby' game.game_id %}" class="btn btn-danger">Видалити лобі</a>
                {% else %}
                <a href="{% url 'Game:leave_lobby' game.game_id %}" class="btn btn-danger">Покинути</a>
                {% endif %}
            </div>
        </div>
{% endblock %}

{% block script %}
    <script>
    function checkServerStatus() {
        // Отправляем запрос к серверу
        fetch('/lobby/{{ game.game_id }}/statuscheck', {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json'
            }
        })
        .then(response => response.json())  // Преобразуем ответ в формат JSON
        .then(data => {
            if (data.status === true) {  // Проверяем, если статус ответа равен true
                window.location.href = '/bunker/{{ game.game_id }}';  // Перенаправляем пользователя
            }
        })
        .catch(error => console.error('Error:', error));
    }

    // Запускаем функцию checkServerStatus каждую секунду
    {% if game.owner_id != client.player_id %}
    setInterval(checkServerStatus, 1000);
    {% endif %}

    function checkServerKick() {
        // Отправляем запрос к серверу
        fetch('/lobby/{{ client.player_id }}/kickcheck', {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json'
            }
        })
        .then(response => response.json())  // Преобразуем ответ в формат JSON
        .then(data => {
            if (data.status === false) {  // Проверяем, если статус ответа равен true
                window.location.href = '/';  // Перенаправляем пользователя
            }
        })
        .catch(error => console.error('Error:', error));
    }

    // Запускаем функцию checkServerStatus каждую секунду
    {% if game.owner_id != client.player_id %}
    setInterval(checkServerKick, 1000);
    {% endif %}

    function checkServerConnect() {
        // Отправляем запрос к серверу
        fetch('/lobby/{{ game.game_id }}/checkconnect/{{ game.players.all|length }}/', {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json'
            }
        })
        .then(response => response.json())  // Преобразуем ответ в формат JSON
        .then(data => {
            if (data.status === true) {  // Проверяем, если статус ответа равен true
                location.reload();  // Перенаправляем пользователя
            }
        })
        .catch(error => console.error('Error:', error));
    }

    // Запускаем функцию checkServerStatus каждую секунду
    setInterval(checkServerConnect, 1000);

    </script>
{% endblock %}