{% extends 'base/_base.html' %}
{% block title %} Bunker online {% endblock %}

{% block content %}
    <div class="text-center">
        <h1>"Bunker" онлайн</h1>
        <button type="button" class="btn btn-success mb-3" data-bs-toggle="modal" data-bs-target="#nicknameModal">Створити гру</button>
        <br><a href="{% url 'Game:games' %}" class="btn btn-primary">Доєднатись до гри</a>

        <div class="modal fade" id="nicknameModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Доєднатись до гри</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form method="POST">
                    {% csrf_token %}
                  <div class="input-group mb-3">
                    <label for="nickname" class="input-group-text">Твій нік:</label>
                    <input type="text" class="form-control" name="nickname" id="nickname" required>
                  </div>
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary">Доєднатись</button>
                </form>
              </div>
            </div>
          </div>
        </div>
    </div>
{% endblock %}